{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item"><a href="{% url 'accounts:current' %}">Profile</a> </li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="container">
    <form method="POST" class="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}
