{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/795eb3e898.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/cropper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nano.min.css' %}">
    <title>
      {% block title %}{% endblock %}
      - ClothesManager</title>
  </head>

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">ClothesManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:all' %}">Explore</a>
            </li>

          </ul>

          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'closet:outfits' %}">Outfits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'closet:clothes' %}">Clothes</a>
              </li>
            {% else %}
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                    {% if request.user.profile.picture %}
                      <img src="{{ request.user.profile.picture.url }}" class="rounded-lg align-middle" width="auto" height="40px"/>
                    {% else %}
                      <canvas class="rounded-lg align-middle" width="25rem" height="25rem" style="background-color: #{{ request.user.profile.color }};"></canvas>
                    {% endif %}
                {% else %}
                  <i class="fas fa-user"></i>
                {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'accounts:current' %}">Profile</a>
                  <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                {% else %}
                  <a class="dropdown-item" href="{% url 'accounts:signup' %}">SignUp</a>
                  <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="m-5">
      <div class="container-fluid">
        <h1 class="pt-3"></h1>
        <div class="container">
          {% if messages %}
            <div style="margin-top:1rem;">
              <div class="alert alert-primary align-center notification" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% block breadcrumb %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
      </div>
      <!-- container-fluid -->
    </main>
    <h1 class="pb-5"></h1>
    <footer class="fixed-bottom py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Yu Arakawa 2020</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/cropper.min.js' %}"></script>
  <script src="{% static 'js/jquery-cropper.min.js' %}"></script>
  <script src="{% static 'js/pickr.min.js' %}"></script>
  {% block script %}{% endblock %}
</body>
</html>
