{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">{{ user.username }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          Forecast
        </div>
        <div class="card-body">
          {% if forecast %}
            <table style="table-layout: fixed" class="table text-center">
              <tr>
                <th>
                  <i class="far fa-clock"></i>
                </th>
                <th>
                  <i class="fas fa-map-marker-alt"></i>
                </th>
                <th>
                  <i class="fas fa-rainbow"></i>
                </th>
                <th>
                  <i class="fas fa-temperature-high"></i>
                </th>
                <th>
                  <i class="fas fa-cloud-rain"></i>
                </th>
              </tr>
              <tr>
                <td>{{ forecast.created_at }}</td>
                <td>
                  {{ forecast.area.name }}
                  /
                  {{ forecast.prefecture.name }}
                </td>
                <td>
                  <a
                    href="#"
                    class="text-reset"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="bottom"
                    data-html="true"
                    data-content="<span class='text-center'>{{forecast.first_weather.name}}{%if forecast.second_weather%} {{forecast.weather_change.name}} {{forecast.second_weather.name}}{%endif%}</span>">
                    <i class="{{forecast.first_weather.icon }}"></i>
                    {% if forecast.second_weather %}
                      <i class="{{forecast.weather_change.icon }}"></i>
                      <i class="{{forecast.second_weather.icon }}"></i>
                    {% endif %}
                  </a>
                </td>
                <td>
                  {{ forecast.highest_temp }}
                  &ordm;C /
                  {{ forecast.lowest_temp }}
                  &ordm;C
                </td>
                <td>
                  {{ forecast.rain_chance }}
                  %
                </td>
              </tr>
            </table>
          {% else %}
            Not Got data Yet
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card mb-4">
        <form class="m-0" action="{% url 'index' %}" method="POST">
          {% csrf_token %}
          <div class="card-header">
            <i class="fas fa-server mr-1"></i>
            Suitable Clothes
            <button class="btn btn-dark float-right py-0" type="submit" name="button">Save</button>
          </div>
          <div class="card-body">
            <div class="row">
              {% if outerwears %}
                <!-- 3 sections including outerwear -->
                <div class="col-sm-4 border-right">
                  <ul class="nav nav-pills justify-content-center" role="tablist">
                    {% for clothes in outerwears %}
                      {% include "include/clothes_tab.html" %}
                    {% endfor %}
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                    {% for outerwear in outerwears %}
                      <div id="{{outerwear.name|slugify}}" class="container tab-pane fade"></div>
                    {% endfor %}
                  </div>
                  <!-- tab panes-->
                </div>

                <div class="col-sm-4 border-right">
                  <ul class="nav nav-pills justify-content-center" role="tablist">
                    {% for clothes in tops %}
                      {% include "include/clothes_tab.html" %}
                    {% endfor %}
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                    {% for top in tops %}
                      <div id="{{top.name|slugify}}" class="container tab-pane fade"><br>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-sm-4">
                  <ul class="nav nav-pills justify-content-center" role="tablist">
                    {% for clothes in bottoms %}
                      {% include "include/clothes_tab.html" %}
                    {% endfor %}
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                    {% for bottom in bottoms %}
                      <div id="{{bottom.name|slugify}}" class="container tab-pane active"><br>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <!-- 2 sections except outerwear -->
                <div class="col-sm-6">
                  {% for top in tops %}
                    <img src="/static/img/icon/clothes/{{top.name}}.jpg" alt="{{top.name}}" height="70px" width="auto">
                  {% endfor %}
                </div>
                <div class="col-sm-6">
                  {% for bottom in bottoms %}
                    <img src="/static/img/icon/clothes/{{bottom.name}}.jpg" alt="{{bottom.name}}" height="70px" width="auto">
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          <!-- card body -->
        </form>
      </div>
      <!-- card -->
    </div>
    <!-- col -->
  </div>
  <!-- row -->

{% endblock %}

{% block script %}
  <script>
    $('.nav-link').on('click', function () {
      const categoryIdName = $(this).attr('href');
      $.ajax({
        url: "{% url 'ajax_get_clothes' %}",
        type: 'GET',
        data: {
          'category_name': categoryIdName
        }
      }).done(function (data) {
        var pillContent = $(categoryIdName).empty();

        if (data['isSuccess'] == false) {
          pillContent.append(data['clothesDict']['text'])
        } else {
          const clothesDict = data['clothesDict'];
          const clothesGroup = $('<div class="btn-group-toggle pt-3" data-toggle="buttons">').appendTo(pillContent);

          for (const clothes of clothesDict) {
            const labelName = clothes['pk'] + categoryIdName;
            const clothesLbl = $('<label class="btn btn-light mb-2">');
            const clothesIpt = $('<input type="radio" autocomplete="off">');
            const clothesName = $('<span class="pl-3">');
            const clothesImg = $('<img class="rounded" height="auto" width="40px">');
            clothesIpt.attr('name', categoryIdName);
            clothesIpt.val(clothes['pk']);
            clothesImg.attr('src', clothes['image']);
            clothesImg.attr('alt', clothes['name']);
            clothesName.text(clothes['name']);
            clothesLbl.append(clothesIpt).append(clothesImg).append(clothesName);
            clothesGroup.append(clothesLbl).append('<br>');
          }
        }

      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
{% endblock %}
