{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">{{ user.username }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          Forecast
        </div>
        <div class="card-body">
          {% if forecast %}
            <table style="table-layout: fixed" class="table text-center">
              <tr>
                <th>
                  <i class="far fa-clock"></i>
                </th>
                <th>
                  <i class="fas fa-map-marker-alt"></i>
                </th>
                <th>
                  <i class="fas fa-rainbow"></i>
                </th>
                <th>
                  <i class="fas fa-temperature-high"></i>
                </th>
                <th>
                  <i class="fas fa-umbrella"></i>
                </th>
              </tr>
              <tr>
                <td>{{ forecast.created_at }}</td>
                <td>
                  {{ forecast.area.name }}
                  /
                  {{ forecast.prefecture.name }}
                </td>
                <td>
                  {{ forecast.weather.name }}
                </td>
                <td>
                  {{ forecast.highest_temp }}
                  /
                  {{ forecast.lowest_temp }}
                </td>
                <td>
                  {{ forecast.rain_chance }}
                  %
                </td>
              </tr>
            </table>
          {% else %}
            Not Got data Yet
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-server mr-1"></i>
          Suggestion
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-dice-one mr-1"></i>
                  Outerwears
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if outerwears %}
                      <table class="table table-hover text-center">
                          {% for outerwear in outerwears %}
                            <tr>
                              <td>{{ outerwear.name }}</td>
                            </tr>
                          {% endfor %}
                      </table>
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-dice-two mr-1"></i>
                  Tops
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if tops %}
                      <table class="table table-hover text-center">
                          {% for top in tops %}
                            <tr>
                              <td>{{ top.name }}</td>
                            </tr>
                          {% endfor %}
                      </table>
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card">
                <div class="card-header">
                  <i class="fas fa-dice-three mr-1"></i>
                  Bottoms
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if bottoms %}
                      <table class="table table-hover text-center">
                          {% for bottom in bottoms %}
                            <tr>
                              <td>{{ bottom.name }}</td>
                            </tr>
                          {% endfor %}
                      </table>
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
