{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">{{ user.username }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          Forecast
        </div>
        <div class="card-body">
          {% if forecast %}
            <table style="table-layout: fixed" class="table text-center">
              <tr>
                <th>
                  <i class="far fa-clock"></i>
                </th>
                <th>
                  <i class="fas fa-map-marker-alt"></i>
                </th>
                <th>
                  <i class="fas fa-rainbow"></i>
                </th>
                <th>
                  <i class="fas fa-temperature-high"></i>
                </th>
                <th>
                  <i class="fas fa-cloud-rain"></i>
                </th>
              </tr>
              <tr>
                <td>{{ forecast.created_at }}</td>
                <td>
                  {{ forecast.area.name }}
                  /
                  {{ forecast.prefecture.name }}
                </td>
                <td>
                  <a
                    href="#"
                    class="text-reset"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="bottom"
                    data-html="true"
                    data-content="<span class='text-center'>{{forecast.first_weather.name}}{%if forecast.second_weather%} {{forecast.weather_change.name}} {{forecast.second_weather.name}}{%endif%}</span>">
                    <i class="{{forecast.first_weather.icon }}"></i>
                    {% if forecast.second_weather %}
                      <i class="{{forecast.weather_change.icon }}"></i>
                      <i class="{{forecast.second_weather.icon }}"></i>
                    {% endif %}
                  </a>
                </td>
                <td>
                  {{ forecast.highest_temp }}
                  &ordm;C /
                  {{ forecast.lowest_temp }}
                  &ordm;C
                </td>
                <td>
                  {{ forecast.rain_chance }}
                  %
                </td>
              </tr>
            </table>
          {% else %}
            Not Got data Yet
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-server mr-1"></i>
          Suitable Clothes
        </div>
        <div class="card-body">
          <div class="row">
            {% if outerwears %}
              <!-- 3 sections including outerwear -->
              <div class="col-sm-4 border-right">
                <div class="text-center">
                  {% for outerwear in outerwears %}
                    <a href="#" data-toggle="popover" data-content="{{outerwear.name}}" data-trigger="hover" data-placement="bottom">
                      <img src="/static/img/icon/clothes/{{outerwear.name}}.jpg" alt="{{outerwear.name}}" height="100px" width="auto">
                    </a>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-4 border-right">
                <div class="text-center">
                  {% for top in tops %}
                    <a href="#" data-toggle="popover" data-content="{{top.name}}" data-trigger="hover" data-placement="bottom">
                      <img src="/static/img/icon/clothes/{{top.name}}.jpg" alt="{{top.name}}" height="100px" width="auto">
                    </a>
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-4">
                <div class="text-center">
                  {% for bottom in bottoms %}
                    <a href="#" data-toggle="popover" data-content="{{bottom.name}}" data-trigger="hover" data-placement="bottom">
                      <img src="/static/img/icon/clothes/{{bottom.name}}.jpg" alt="{{bottom.name}}" height="100px" width="auto">
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <!-- 2 sections except outerwear -->
              <div class="col-sm-6">
                {% for top in tops %}
                  <img src="/static/img/icon/clothes/{{top.name}}.jpg" alt="{{top.name}}" height="100px" width="auto">
                {% endfor %}
              </div>
              <div class="col-sm-6">
                {% for bottom in bottoms %}
                  <img src="/static/img/icon/clothes/{{bottom.name}}.jpg" alt="{{bottom.name}}" height="100px" width="auto">
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- card -->
    </div>
    <!-- col -->
  </div>
  <!-- row -->

  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
{% endblock %}
