{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="home_mt">
    <main>
      <div class="container-fluid">
        <div class="home-box top">

          <div class="pt-3 top-title">
            What's Your Outfit Today?
          </div>
          <div class="top-img">
            <img src="{{ url_for('static', filename='img/outfit-img.jpg" alt="top img">
          </div>
          <div class="top-line-pad line-letter">
            This web app named <strong><i>ClothesManager</i></strong> helps you to decide what outfit you are going to wear.<br>
            You only register all clothes in your closet.<br>
            ClothesManager suggests some comfortable clothes with today's weather forecast.<br>
            It is easier to choose what you want to wear with this app.<br>
            You can also save outfits info on this app then you won't miss your favorite outfits!
          </div>
        </div>
        <!-- home-box -->

        <div class="home-box middle">
          <div class="middle-img">
            <img src="{{ url_for('static', filename='img/hat_choosing.jpg" alt="choose img">
          </div>
          <div class="middle-line-pad line-letter">
            Have you felt tired to decide clothes from a bunch of it?<br>
            Have you experienced that you choose the wrong clothes even if you checked forecasts?<br>
            You don't need to overthink your outfit of the day with this ClothesManager!
          </div>
        </div>
        <!-- home-box -->

        <div class="home-content-line-box box-ord">
          <div class="item"><img src="{{ url_for('static', filename='img/ver-hang-outfit.jpg" alt="outfit img"></div>
          <div class="item line-letter">
            <h4>Cold Condition and Hot Fashion</h4>
            This app regularly takes information about the weather from <a href="https:www.tenki.jp">Tenki.jp</a>. ClothesManager can identify which clothes are suitable for the weather.
          </div>
        </div>
        <!-- home-content-line-box -->

        <div class="home-content-line-box box-rev">
          <div class="item"><img src="{{ url_for('static', filename='img/standing.jpg" alt="woman img"></div>
          <div class="item line-letter">
            <h4>Dress for Success</h4>
            Register your clothes so that ClothesManager picks up your clothes which fit today's weather. You don't care about the weather and temperature when you change your clothes.
          </div>
        </div>
        <!-- home-content-line-box box-rev -->

        <div class="home-content-line-box box-ord">
          <div class="item"><img src="{{ url_for('static', filename='img/white_wall_building.jpg" alt="house img"></div>
          <div class="item line-letter">
            <h4>Wear your Smile with Confidence</h4>
            Choose appropriate clothes. Save your favorite outfits.<br>
            This app manages your closet!
          </div>
        </div>
        <!-- home-content-line-box -->

      </div>
      <!-- container-fluid -->
    </main>
  <!-- home-mt -->

  <!-- Login Modal -->
  <!-- Login Modal -->

  <!-- Sign In Modal -->
  <!-- Sign In Modal -->

{% endblock %}
