{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="home_mt">
    <main>
      <div class="container-fluid">

        <div class="p-5 mt-5 display-3 text-secondary text-center">
          What's Your Outfit Today?
        </div>

        <img src="{% static 'img/home/outfit-img.jpg' %}" class="p-5 img-fluid" alt="top img">

        <div class="m-5 lead text-muted text-center">
          <strong>
            <i>ClothesManager</i>
          </strong>
          helps you to decide what outfit you are going to wear.<br>
          You only register all clothes in your closet.<br>
          ClothesManager suggests some comfortable clothes with today's weather forecast.<br>
          It is easier to choose what you want to wear with this app.<br>
          You can also save outfits info on this app then you won't miss your favorite outfits!
        </div>


            <img src="{% static 'img/home/hat_choosing.jpg' %}" class="p-5 img-fluid" alt="choose img">

          <div class="m-5 lead text-muted text-center">
            Have you felt tired to decide clothes from a bunch of it?<br>
            Have you experienced that you choose the wrong clothes even if you checked forecasts?<br>
            You don't need to overthink your outfit of the day with this ClothesManager!
          </div>


        <div class="d-flex flex-row align-items-center py-5">
          <img src="{% static 'img/home/ver-hang-outfit.jpg' %}" class="p-5" height="auto" width="45%" alt="outfit img">
          <div class="text-muted p-5">
            <h5>Cold Condition and Hot Fashion</h5>
            This app regularly takes information about the weather from
            <a href="https:www.tenki.jp">Tenki.jp</a>. ClothesManager can identify which clothes are suitable for the weather.
          </div>
        </div>
        <!-- home-content-line-box -->

        <div class="d-flex flex-row-reverse align-items-center py-5">
          <img src="{% static 'img/home/standing.jpg' %}" class="p-5" height="auto" width="45%" alt="outfit img">
          <div class="text-muted p-5">
            <h5>Dress for Success</h5>
            Register your clothes so that ClothesManager picks up your clothes which fit today's weather. You don't care about the weather and temperature when you change your clothes.
          </div>
        </div>
        <!-- home-content-line-box box-rev -->

        <div class="d-flex flex-row align-items-center py-5">
          <img src="{% static 'img/home/white_wall_building.jpg' %}" class="p-5" height="auto" width="45%" alt="outfit img">
          <div class="text-muted p-5">
            <h5>Wear your Smile with Confidence</h5>
            Choose appropriate clothes. Save your favorite outfits.<br>
            This app manages your closet!
          </div>
        </div>
        <!-- home-content-line-box -->

      </div>
      <!-- container-fluid -->
    </main>
    <!-- home-mt -->

    <!-- Login Modal -->
    <!-- Login Modal -->

    <!-- Sign In Modal -->
    <!-- Sign In Modal -->

  {% endblock %}
