{% extends "base.html" %}

{% block title %}
  {% if followers_or_following %}
    {{ followers_or_following }}
  {% else %}
    Users list
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    {% if followers_or_following %}
      <li class="breadcrumb-item">Profile</li>
      <li class="breadcrumb-item active">{{ followers_or_following }}</li>
    {% else %}
      <li class="breadcrumb-item active">Explore</li>
    </li>
  {% endif %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
  {% if object_list %}
    {% include "include/user_list.html" %}
  {% else %}
    <h3>No Users Yet</h3>
  {% endif %}
</div>
{% endblock %}
