{% extends "base.html" %}

{% block title %}{{ user.username }}
  Profile{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Profile</li>
    <li class="breadcrumb-item active">{{ user.username }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="container">
    <h3>
      {% if user.profile.picture %}
        <img src="{{ user.profile.picture.url }}" class="rounded-lg" width="auto" height="40px"/>
      {% else %}
        <canvas class="align-middle rounded-lg" width="30px" height="30px" style="background-color: #{{ user.profile.color }};"></canvas>
      {% endif %}
      {{ user.username }}
      {% if request.user.username == user.username %}
        <a href="{% url 'accounts:edit' user.username %}" class="btn btn-primary float-right" role="button">edit</a>
      {% else %}
        {% if is_following %}
          <a href="{% url 'accounts:unfollow' user.username %}" class="btn btn-success float-right" role="button">Unfollow</a>
        {% else %}
          <a href="{% url 'accounts:follow' user.username %}" class="btn btn-success float-right" role="button">Follow</a>
        {% endif %}
      {% endif %}
    </h3>
    {% if request.user.username == user.username %}
      <table border="0" class="table">
        <tr>
          <th>Username</th>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <th>Full name</th>
          <td>
            {% if user.full_name %}
              {{ user.full_name }}
            {% else %}
              ----------------
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Website</th>
          <td>
            {% if user.profile.webpage %}
              <a href="{{ user.profile.webpage }}">{{ user.profile.webpage }}</a>
            {% else %}
              ----------------
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>About Me</th>
          <td>
            {% if user.profile.about_me %}
              {{ user.profile.about_me }}
            {% else %}
              ----------------
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Last Login</th>
          <td>{{ user.last_login|date:"m/d/Y f"  }}</td>
        </tr>
        <tr>
          <th>
            <a href="{% url 'accounts:followers' %}">Followers</a>
          </th>
          <td>{{ user.followers.count }}</td>
        </tr>
        <tr>
          <th>
            <a href="{% url 'accounts:followings' %}">Following</a>
          </th>
          <td>{{ user.following.count }}</td>
        </tr>
        <tr>
          <th>
            <a href="{% url 'closet:clothes' %}">Clothes</a>
          </th>
          <td>{{ user.clothes.count }}</td>
        </tr>
        <tr>
          <th>
            <a href="{% url 'closet:outfits' %}">Outfits</a>
          </th>
          <td>{{ user.outfits.count }}</td>
        </tr>
      </table>
    {% else %}
      <table border="0" class="table">
        <tr>
          <th>Username</th>
          <td>{{ user.username }}</td>
        </tr>
        {% if user.full_name  %}
        <tr>
          <th>Full name</th>
          <td>{{ user.full_name }}</td>
        </tr>
        {% endif %}
        {% if user.profile.website %}
        <tr>
          <th>Website</th>
          <td>
            <a href="{{ user.profile.webpage }}">{{ user.profile.webpage }}</a>
          </td>
        </tr>
        {% endif %}
        {% if user.profile.about_me %}
        <tr>
          <th>About Me</th>
          <td>{{ user.profile.about_me }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Followers</th>
          <td>{{ user.followers.count }}</td>
        </tr>
        <tr>
          <th>Following</th>
          <td>{{ user.following.count }}</td>
        </tr>
        <tr>
          <th>
            <a href="{% url 'closet:user_clothes' user.username %}">Clothes</a>
          </th>
          <td>{{ user.clothes.count }}</td>
        </tr>
        <tr>
          <th>
            <a href="{% url 'closet:user_outfits' user.username %}">Outfits</a>
          </th>
          <td>{{ user.outfits.count }}</td>
        </tr>
      </table>
    {% endif %}
  </div>
{% endblock %}
