{% extends 'base.html' %}

{% block title %}{{ add_or_edit }} Clothes{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Closet</li>
    <li class="breadcrumb-item"><a href="{% url 'closet:clothes' %}">Clothes</a></li>
    <li class="breadcrumb-item active">{{ add_or_edit }}</li>
  </ol>
{% endblock %}

{% block content %}
<!-- Form -->
<div class="container">
  <h3>{{ add_or_edit }} Clothes</h3>
  <form method="POST" class="form" id="formUpload" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if clothes.picture %}
      <img src="{{ clothes.picture.url }}"/>
    {% endif %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">{{ add_or_edit }}</button>
    {% endbuttons %}
  </form>
</div>

<!-- Modal to crop the img -->
<div class="modal fade" id="modalCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crop the picture</h4>
        <button type="button" class="close" data-dismiss="modal" arial-label="Close">
          <span arial-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <i class="fas fa-search-plus"></i>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <i class="fas fa-search-minus"></i>
          </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
  <script>
    // Open the modal with the preview
    $("#id_picture").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    // Handle the cropper box
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 1,
        aspectRatio: 1/1,
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    // Enable zoom in button
    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    // Enable zoom out button
    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    // Collect the data and post to the server
    $(".js-crop-and-upload").click(function () {
      var cropData = $image.cropper("getData");
      $("#modalCrop").modal("hide");
      $("#id_x").val(cropData["x"]);
      $("#id_y").val(cropData["y"]);
      $("#id_width").val(cropData["width"]);
      $("#id_height").val(cropData["height"]);
      // $("#formUpload").submit();
      var croppedCanvasData = $image.cropper("getCroppedCanvas");
      document.getElementsByTagName("body")[0].appendChild(croppedCanvasData);
    });

  </script>
<!-- Make dropdowns for categories -->
  <script>
    const parentCategoryElement = $('#id_parent_category');
    const categoryElement = $('#id_category');

    const changeCategory = (select) => {
      // Empty choices of child categories
      categoryElement.children().remove();

      $.ajax({
        url: '{% url 'closet:ajax_get_category' %}',
        type: 'GET',
        data: {
          'pk': parentCategoryElement.val()
        }
      }).done(response => {
        // Create and add the choices of the child categories
        for (const category of response.categoryList) {
          const option = $('<option>');
          option.val(category['pk']);
          option.text(category['name']);
          categoryElement.append(option);
        }

        // Choose the category if picked
        if (select !== undefined) {
          categoryElement.val(select);
        }

      });
    };

    parentCategoryElement.on('change', () => {
      changeCategory();
    });

    // If reloaded when something happens, create child categories
    if (parentCategoryElement.val()) {
      const selectedCategory = categoryElement.val();
      changeCategory(selectedCategory);
    }
  </script>
{% endblock %}
