{% extends 'base.html' %}
{% load static %}

{% block title %}{{ add_or_edit }}
  Clothes{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Closet</li>
    <li class="breadcrumb-item">
      <a href="{% url 'closet:clothes' %}">Clothes</a>
    </li>
    <li class="breadcrumb-item active">{{ add_or_edit }}</li>
  </ol>
{% endblock %}

{% block content %}
  <!-- Form -->
  <div class="container">
    <h3>{{ add_or_edit }}
      Clothes</h3>
    <form method="POST" class="form" id="formUpload" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.help_text %}
          <span class="helptext">{{ form.name.help_text }}</span>
        {% endif %}
        {{ form.name.errors }}
      </div>
      <div class="form-group">
        <span class="text-danger">*</span>{{ form.category.label_tag }}
        <div class="row">
          <div class="col-sm-6">
            {{ form.parent_category }}
            {{ form.parent_category.errors }}
          </div>
          <div class="col-sm-6">
            {{ form.category }}
            {{ form.category.errors }}
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ form.picture.label_tag }}
        {{ form.picture }}
        {{ form.picture.errors }}
      </div>
      <div class="row">
        {% if clothes.picture %}
          <div class="col-sm-6 pb-3">
            <div class="">
              Current Picture
            </div>
            <img src="{{ clothes.picture.url }}"/>
          </div>
        {% endif %}
        <div class="col-sm-6 pb-3">
          <div id="preview-title">
            Preview Picture</div>
          <div id="cropped-preview-img"></div>
        </div>
      </div>
      {% if add_or_edit == 'Edit' %}
        <div class="form-group row">
          <div class="col-sm-1">Color:</div>
          <div class="col-sm-2">
            <div class="clickable">
              {% include "include/color_bar.html" %}
            </div>
          </div>
          <div class="col-sm-9">
            <a href="#">Default</a>
          </div>
          {{ formset }}
        </div>
      {% endif %}
      <div class="form-group">
        <div class="row">
          <div class="col-auto">{{ form.publish.label_tag }}</div>
          <div class="col-auto">
            {{ form.publish }}
          </div>
        </div>
        {{ form.publish.errors }}
      </div>
      <div class="form-group">
        {{ form.note.label_tag }}
        {{ form.note }}
        {{ form.note.errors }}
      </div>
      {{ form.x }}
      {{ form.y }}
      {{ form.width }}
      {{ form.height }}
      {% buttons %}
      <button type="submit" class="btn btn-primary">{{ add_or_edit }}</button>
      {% endbuttons %}

    </form>
  </div>

  <!-- Modal to crop the img -->
  {% include "include/cropping_modal.html" %}
{% endblock %}

{% block script %}
  <script src="{% static 'js/crop_picture.js' %}"></script>
  <script src="{% static 'js/get_child_category.js' %}"></script>
  <script src="{% static 'js/run_pickr.js' %}"></script>
  <!-- Make dropdowns for categories -->
  <script>
    const getCateURL = '{% url 'closet:ajax_get_category' %}';
    const parentCategory = $('#id_parent_category');
    const childCategory = $('#id_category');
    createDropDown(getCateURL, parentCategory, childCategory)
  </script>

  {% if add_or_edit == 'Edit' %}
    <script>
      checkAndCreate('id_colors-0')
      checkAndCreate('id_colors-1')
      checkAndCreate('id_colors-2')
    </script>
  {% endif %}

{% endblock %}
