{% extends 'base.html' %}
{% load static %}

{% block title %}{{ add_or_edit }}
  Clothes{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Closet</li>
    <li class="breadcrumb-item">
      <a href="{% url 'closet:clothes' %}">Clothes</a>
    </li>
    <li class="breadcrumb-item active">{{ add_or_edit }}</li>
  </ol>
{% endblock %}

{% block content %}
  <!-- Form -->
  <div class="container">
    <h3>{{ add_or_edit }}
      Clothes</h3>
    <form method="POST" class="form" id="formUpload" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.help_text %}
          <span class="helptext">{{ form.name.help_text }}</span>
        {% endif %}
        {{ form.name.errors }}
      </div>
      <div class="form-group">
        {{ form.note.label_tag }}
        {{ form.note }}
        {{ form.note.errors }}
      </div>
      <div class="form-group">
        {{ form.category.label_tag }}
        <div class="row">
          <div class="col-sm-6">
            {{ form.parent_category }}
            {{ form.parent_category.errors }}
          </div>
          <div class="col-sm-6">
            {{ form.category }}
            {{ form.category.errors }}
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ form.picture.label_tag }}
        {{ form.picture }}
        {{ form.picture.errors }}
      </div>
      <div class="row">
        {% if clothes.picture %}
          <div class="col-sm-6 pb-3">
            <div class="">
              Current Picture
            </div>
            <img src="{{ clothes.picture.url }}"/>
          </div>
        {% endif %}
        <div class="col-sm-6 pb-3">
          <div id="preview-title">
            Preview Picture</div>
          <div id="cropped-preview-img"></div>
        </div>
      </div>
      {% if add_or_edit == 'Edit' %}
      <div class="form-group row">
        <div class="col-sm-1">Color:</div>
        <div class="col-sm-11">
          <a href="{% url 'closet:clothes_color' clothes.pk %}" role="button" class="btn" style="background-color: {{ clothes.color }};"><span style="visibility:hidden">a</span></a>
        </div>

        {{ form.color.errors }}
      </div>
      {% endif %}
      <div class="form-group">
        {{ form.publish.label_tag }}
        {{ form.publish }}
        {{ form.publish.errors }}
      </div>
      {{ form.x }}
      {{ form.y }}
      {{ form.width }}
      {{ form.height }}
      {% buttons %}
      <button type="submit" class="btn btn-primary">{{ add_or_edit }}</button>
      {% endbuttons %}
    </form>
  </div>

  <!-- Modal to crop the img -->
  {% include "snippets/cropping_modal.html" %}
{% endblock %}

{% block script %}
  <script src="{% static 'js/crop_picture.js' %}"></script>
  <script>
    $('#preview-title').hide()
  </script>

  <!-- Make dropdowns for categories -->
  <script>
    const parentCategoryElement = $('#id_parent_category');
    const categoryElement = $('#id_category');

    const changeCategory = (select) => {
      // Empty choices of child categories
      categoryElement.children().remove();

      $.ajax({
        url: '{% url 'closet:ajax_get_category' %}',
        type: 'GET',
        data: {
          'pk': parentCategoryElement.val()
        }
      }).done(response => {
        // Create and add the choices of the child categories
        for (const category of response.categoryList) {
          const option = $('<option>');
          option.val(category['pk']);
          option.text(category['name']);
          categoryElement.append(option);
        }

        // Choose the category if picked
        if (select !== undefined) {
          categoryElement.val(select);
        }

      });
    };

    parentCategoryElement.on('change', () => {
      changeCategory();
    });

    // If reloaded when something happens, create child categories
    if (parentCategoryElement.val()) {
      const selectedCategory = categoryElement.val();
      changeCategory(selectedCategory);
    }
  </script>
{% endblock %}
