{% extends "base.html" %}
{% load static %}

{% block title %}Clothes List{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Closet</li>
    <li class="breadcrumb-item">
      <a href="{% url 'closet:clothes' %}">Clothes</a>
    </li>
    <li class="breadcrumb-item active">{{ who }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="container">
    <h3>Clothes List</h3>
    {% if request.user.username == user.username %}
      {% if object_list %}
        <form action="" method="POST">
          <table class="table table-hover">
            <thead>
              <th></th>
              <th>Clothes Name</th>
              <th>Category</th>
              <th>Color</th>
              <th>Publish</th>
              <th>Delete</th>
            </thead>
            <tbody class="centerTable">
              {% for clothes in object_list %}
                <tr>
                  <td><img src="{{ clothes.show_img }}" class="rounded-lg" width="auto" height="40px"/></td>
                  <td>
                    <a href="{% url 'closet:edit_clothes' clothes.pk %}">
                      {{ clothes.name }}</a>
                  </td>
                  <td>{{ clothes.parent_category }}
                    /
                    {{ clothes.category }}</td>
                  <td>
                    {% include "include/color_bar.html" %}
                  </td>
                  <td>{{ clothes.publish }}</td>
                  <td><input type="checkbox" name="delete" value="{{ clothes.pk }}"></td>
                </tr>
              {% endfor %}
            </tbody>
            {% csrf_token %}
          </table>
          <button class="btn btn-danger float-right" type="submit">Delete</button>
        </form>
      {% else %}
        <h3>No Clothes Yet</h3>
      {% endif %}
      <a href="{% url 'closet:add' %}" class="btn btn-dark" role="button">Add Clothes</a>

    {% else %}
      {% if object_list %}
        <table class="table table-hover">
          <tr>
            <th>Clothes Name</th>
            <th>Category</th>
            <th>Addtime</th>
          </tr>
          {% for clothes in object_list %}
            <tr>
              <td>{{ clothes.name }}</td>
              <td>{{ clothes.parent_category }}
                /
                {{ clothes.category }}</td>
              <td>{{ clothes.created_at }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <h3>No Clothes</h3>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
