{% extends 'base.html' %}
{% load static %}

{% block title %}{{ clothes.name }} Color {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Closet</li>
    <li class="breadcrumb-item">
      <a href="{% url 'closet:clothes' %}">Clothes</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'closet:edit_clothes' clothes.pk %}">{{ clothes.name }}</a>
    </li>
    <li class="breadcrumb-item active">Color</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="container">
    <h3>Color of {{ clothes.name }}</h3>
    <form class="form" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.color }}
        <button type="button" id="pickrbtn" class="btn shadow-sm pickrbtn" style="background-color: {{ clothes.color }};">Choose Color</button>
      </div>
      {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}

{% block script %}
<script>
  const pickr = Pickr.create({
    el: '.pickrbtn',
    theme: 'nano', // or 'monolith', or 'nano'

    default: '{{ clothes.color }}',
    useAsButton: true,
    // comparison: false,
    defaultRepresentation: 'RGBA',

    swatches: [
      'rgba(244, 67, 54, 1)',
      'rgba(233, 30, 99, 0.95)',
      'rgba(156, 39, 176, 0.9)',
      'rgba(103, 58, 183, 0.85)',
      'rgba(63, 81, 181, 0.8)',
      'rgba(33, 150, 243, 0.75)',
      'rgba(3, 169, 244, 0.7)',
      'rgba(0, 188, 212, 0.7)',
      'rgba(0, 150, 136, 0.75)',
      'rgba(76, 175, 80, 0.8)',
      'rgba(139, 195, 74, 0.85)',
      'rgba(205, 220, 57, 0.9)',
      'rgba(255, 235, 59, 0.95)',
      'rgba(255, 193, 7, 1)'
    ],

    components: {

      // Main components
      preview: true,
      opacity: true,
      hue: true,

      // Input / output Options
      interaction: {
          hex: false,
          rgba: false,
          hsla: false,
          hsva: false,
          cmyk: false,
          input: true,
          clear: true,
          save: true
      }
    }
  }).on('save', color => {
    const selectColor = color.toRGBA().toString(1);
    console.log(selectColor);
    document.getElementById('pickrbtn').style.backgroundColor = selectColor;
    $('#id_color').val(selectColor);
    pickr.hide();
  }).on('cancel', color => {
    pickr.hide();
  });

</script>
{% endblock %}
