{% extends "base.html" %}

{% block title %}Outfits List{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb mb-4 pt-3">
    <li class="breadcrumb-item">Closet</li>
    <li class="breadcrumb-item">
      <a href="{% url 'closet:outfits' %}">Outfits</a>
    </li>
    <li class="breadcrumb-item active">{{ who }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="container">
    <h3>Outfits List</h3>
    {% if request.user.username == user.username %}
      {% if object_list %}
        <form action="" method="POST">
        <table class="table table-hover">
          <thead>
            <th>Outfit Name</th>
            <th>Outerwears</th>
            <th>Tops</th>
            <th>Extra Tops</th>
            <th>Bottoms</th>
            <th>Publish</th>
            <th>Delete</th>
          </thead>
            <tbody class="centerTable">
              {% for outfit in object_list %}
              <tr>
                <td>
                  <a href="{% url 'closet:edit_outfit' outfit.pk %}">{{ outfit.name }}</a>
                </td>
                <td>{{ outfit.outerwear }}</td>
                <td>{{ outfit.top }}</td>
                <td>{{ outfit.extra_top }}</td>
                <td>{{ outfit.bottom }}</td>
                <td>
                  {% if clothes.publish %}
                    <i class="fas fa-check"></i>
                  {% else %}
                    <i class="fas fa-times"></i>
                  {% endif %}
                </td>
                <td><input type="checkbox" name="delete" value="{{ outfit.pk }}"></td>
              </tr>
              {% endfor %}
            </tbody>
            {% csrf_token %}
        </table>
        <button class="btn btn-danger float-right" type="submit">Delete</button>
      </form>
      {% else %}
        <h3>No Outfits Yet</h3>
      {% endif %}
      <a href="{% url 'closet:set' %}" class="btn btn-dark" role="button">Set Outfit</a>

    {% else %}
      {% if object_list %}
        <table class="table table-hover">
          <thead>
            <th>Outfit Name</th>
            <th>Outerwears</th>
            <th>Tops</th>
            <th>Extra Tops</th>
            <th>Bottoms</th>
          </thead>
          {% for outfit in object_list %}
            <tbody class="centerTable">
              <tr>
                <td>
                  {{ outfit.name }}
                </td>
                <td>{{ outfit.outerwear }}</td>
                <td>{{ outfit.top }}</td>
                <td>{{ outfit.extra_top }}</td>
                <td>{{ outfit.bottom }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      {% else %}
        <h3>No Outfits</h3>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
