{% spaceless %}
  {% for color in clothes.colors.all %}
    {% if forloop.first %}
      <div id="id_colors-0" class="btn border-light pickrbtn" style="background-color: {{ color.code }}; border-radius: 10px 0 0 10px;">
        <span style="visibility:hidden">a</span></div>
    {% elif forloop.last %}
      <div id="id_colors-2" class="btn border-light pickrbtn" style="background-color: {{ color.code }}; border-radius: 0 10px 10px 0;">
        <span style="visibility:hidden">a</span></div>
    {% else %}
      <div id="id_colors-1" class="btn border-light pickrbtn" style="background-color: {{ color.code }}; border-radius: 0 0 0 0;">
        <span style="visibility:hidden">a</span></div>
    {% endif %}
  {% endfor %}
{% endspaceless %}
